:root {
    --red-color: #d63638;
    --green-color: #00a32a;
    --login-modal-lg-width: 320px;
    --login-modal-sm-width: 260px;
    --login-modal-bg-color: #fff;
    --login-btn-bg-color: #fff;
    --login-btn-bd-color: #fff;
    --login-modal-body-color: #e8ecf3;
}
